.card{
    >img{
        @extend .card-img-top;
    }
    >section{
        @extend .card-body;
        >h2,>h3,>h4,>h5{
            @extend .card-title;
        }
        >p{
            @extend .card-text;
        }
        >a{
            @extend .btn;
            @extend .btn-primary;
        }
    }
}

.card {
  &.card-horizontal {
    flex-direction: row;
    
    .card-img-top {
      width: 30%;
      height: 100%;
      object-fit: cover;
    }
    
    .card-body {
      flex: 1;
    }
  }
}